<!-- order-confirmation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Commande</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar">
        <a href="/home">Home<img src="/shopping-en-ligne.png" alt="App Logo" class="logo"></a>
        <a href="/panier">Panier</a>
        <a href="/login">Déconnecter</a>
    </div>

    <div class="container mt-5">
        <h1>Confirmation de Commande</h1>
        <p>Merci pour votre commande !</p>
        <h2>Détails de la Commande</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% order.items.forEach(item => { %>
                    <tr>
                        <td><%= item.productId ? item.productId.name : 'Produit non disponible' %></td>
                        <td><%= item.quantity %></td>
                        <td>$<%= item.productId ? item.productId.price : 'N/A' %></td>
                        <td>$<%= item.productId ? (item.quantity * item.productId.price).toFixed(2) : 'N/A' %></td>
                    </tr>
                <% }) %>
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td>$<%= order.total.toFixed(2) %></td>
                </tr>
            </tbody>
        </table>
        <a href="/home" class="btn btn-secondary">Retour à l'accueil</a>
            </div>
</body>
</html>
